<ion-header>
  <!-- <ion-toolbar>
    <ion-title>Sleep Tracker</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class="title">
    <ion-icon name="moon"></ion-icon><br>
    <h1>Sleep Tracker</h1>
    <h2>I want to...</h2>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
          <ion-button size="large" color="light" routerLink="/sleep">
            <ion-icon name="bed"></ion-icon>
          </ion-button>
          <h3>Log My<br>Sleep</h3>
      </ion-col>
      <ion-col size="4">
          <ion-button size="large" color="light" routerLink="/sleepiness">
            <ion-icon name="happy"></ion-icon>
          </ion-button>
          <h3>Record My Sleepiness</h3>
      </ion-col>
      <ion-col size="4">
          <ion-button size="large" color="light" routerLink="/log">
            <ion-icon name="book"></ion-icon>
          </ion-button>
          <h3>View My<br>Log</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>