ion-content {
    text-align: center;
}


ion-button {
    width: 80px;
    height: 80px;
}

ion-icon {
    width: 30px;
    height: 30px;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 12px;
    text-transform: uppercase;
}

.title {
    margin-top: 100px;
    font-size: 30px;
}

.title ion-icon {
    width: 120px;
    height: 120px;
}